<tr>
    <td>
        <label for="{{ field_id }}">{{ label }}</label>
    </td>
    <td>
        <input type="{{ input_type }}" id="{{ field_id }}" name="{{ field_name }}" {% if required %}required{% endif %} {% if value is not none %}value="{{ value }}"{% endif %}>
    </td>
</tr>
{% if error or field.description %}
<tr>
    <td></td>
    <td>
    {% if error %}
        <em class="error">{{ error }}</em>
    {% elif field.description %}
        <em>{{ field.description }}</em>
    {% endif %}
    </td>
</tr>
{% endif %}
