<div class="form-group">
    <label for="{{ field_id }}">
        {{ label }}
    </label>

    <textarea class="form-control {% if error %}is-invalid{% endif %}" id="{{ field_id }}" name="{{ field_name }}" {% if required %}required{% endif %}>{% if value is not none %}{{ value }}{% endif %}</textarea>

    {% if error %}
        <small class="invalid-feedback">{{ error }}</small>
    {% elif field.description %}
        <small class="form-text text-muted">{{ field.description }}</small>
    {% endif %}
</div>
